body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d87093;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  background-color: burlywood;
  width: 70%;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
}

.play-cont {
  display: flex;
  justify-content: space-between;
}

.current {
  border: 1px solid #d87093;
  padding: 8wpx;
  background-color: #d87093;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.score {
  font-size: 30px;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px 40%;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #d87093;
}

.dice {
  width: 12%;
  height: 80px;
  margin: 15px 44%;
}

.hidden {
  display: none;
}